 /* General styles */
        body {
            background-color: #141414;
            color: white;
        }

        /* Logo adjustment */
        .navbar-brand img {
            width: 50px;  /* Default logo size */
            height: auto;
            max-height: 50px;
        }

        .movie-list-item {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 15px 0;
            border-bottom: 1px solid #444;
        }

        .movie-list-item img {
            width: 136px; /* Default cover size */
            height: auto;
            border-radius: 5px;
            margin-right: 15px;
        }

        .movie-list-item div {
            flex: 1;
        }

        /* Media Queries for smaller screens */
        @media (max-width: 768px) {
            .movie-list-item {
                flex-direction: row; /* Keep image and description side by side on mobile */
                align-items: center;
            }

            .movie-list-item img {
                width: 136px; /* Ensuring 136px for smaller screens */
                margin-bottom: 0;
            }

            .navbar-brand img {
                width: 40px; /* Reduce logo size on smaller screens */
                max-height: 40px;
            }
        }

        /* For very small screens, like smartphones */
        @media (max-width: 480px) {
            .movie-list-item img {
                width: 136px; /* Maintain width of 136px even on smartphones */
            }

            .navbar-brand img {
                width: 35px;
                max-height: 35px;
            }
        }

        .search-container {
            position: relative;
        }

        .search-container input[type="text"] {
            padding-right: 40px;
        }

        .search-container button {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            border: none;
            background: none;
            color: black; /* Color of the search icon */
            padding: 0 15px;
            cursor: pointer;
        }